.search__input {
  padding: 0;
  width: 100%;
  font-family: Roboto;
  height: 62px;
  border-radius: 100px;
  border: none;
  outline: none;
  padding-left: 16px;
}

.search__input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding-left: 2px;
}

.search__input:hover {
  background-color: rgb(238, 243, 252);
}

.search__input:focus {
  box-shadow: 0 0 0 2px #c5c6c9;
}

@media (max-width: 500px) {
  .search__input {
    width: 94.5%;
    height: 56px;
  }
}
