{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "no-console": "off",
    "no-param-reassign": "off",
    "no-undef": "off",
    "no-useless-constructor": "off",
    "class-methods-use-this": "off",
    "no-else-return": "off",
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ]
  }
}
