.author__image {
  width: 464px;
  height: 464px;
  border-radius: 1000px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 104px;
}

@media (max-width: 999px) {
  .author__image {
    margin-left: 40px;
    margin-top: 61px;
    margin-bottom: 61px;
  }
}

@media (max-width: 776px) {
  .author__image {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 500px) {
  .author__image {
    width: 272px;
    height: 272px;
    margin-top: 31px;
    margin-bottom: 31px;
    margin: 0 auto;
    margin-top: 32px;
  }
}
