.header__nav-items {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 102px;
}

@media (max-width: 999px) {
  .header__nav-items {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .header__nav-items {
    margin: 0;
    position: absolute;
    top: 57px;
    left: 0px;
    right: 0px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1A1B22;
    display: none;
  }
}

@media (max-width: 500px) {
  .header__nav-items {
    padding-left: 16px;
  }
}
