.header__nav-items {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 102px;
}

@media (max-width: 999px) {
  .header__nav-items {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .header__nav-items {
    display: none;
  }
}
